<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LP.PluginHost.Common.DataContract.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LP.PluginHost.Common.DataContract.Properties.Settings>
            <setting name="NobillService_NobillCalls" serializeAs="String">
                <value>http://10.1.132.49/FRiENDiAPIs/NobillCalls.asmx</value>
            </setting>
        </LP.PluginHost.Common.DataContract.Properties.Settings>
    </applicationSettings>
</configuration>